In [ ]:
mpl.rc('axes', labelsize=14)
# matplotlib.rc(group, \*\*kwargs)
# Set the current rc params. group is the grouping for the rc, e.g., for lines.linewidth the group is lines, for axes.facecolor, 
# the group is axes, and so on. Group may also be a list or tuple of group names, 
# e.g., (xtick, ytick). kwargs is a dictionary attribute name/value pairs, e.g.,:
# rc('lines', linewidth=2, color='r')
# sets the current rc params and is equivalent to:
# rcParams['lines.linewidth'] = 2
# rcParams['lines.color'] = 'r'

plt.tight_layout()
# Automatically adjust subplot parameters to give specified padding.

plt.savefig(path, format='png', dpi=300)
# dpi - The resolution in dots per inch.

pd.DataFrame.pivot()
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html?highlight=pivot#pandas.DataFrame.pivot
# index and column cannot overlap

In [6]:
import pandas as pd
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [7]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [ ]:
np.c_
# adds seperate array into one.
# https://stackoverflow.com/questions/10894323/what-does-the-c-underscore-expression-c-do-exactlyb

In [ ]:
# Select a linear model
model = sklearn.linear_model.LinearRegression()

# Train the model
model.fit(X, y)
# LinearRegression takes in feature columns and label comlum in the fit function

# Make a prediction for Cyprus
X_new = [[22587]]  # Cyprus' GDP per capita
print(model.predict(X_new)) # outputs [[ 5.96242338]]

In [ ]:
# The sklearn.preprocessing package provides several common utility functions and transformer classes to change 
# raw feature vectors into a representation that is more suitable for the downstream estimators.